@import "colors.scss";
@import "glow.scss";

$menu-width: 20%;
$textbox-height: 40%;

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: hidden;
    background-color: orange;
}

#textbox-div {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 100%;
    top: 100% - $textbox-height;
    height: $textbox-height;
    padding: 1%;
    background: getColor(textbox-bg);
}

.textbox-text {
    color: getColor(textbox-fg);
}

#textbox-hide {
    display: none
}

.textbox-button,.textbox-button:visited {
    background-color: getColor(textbox-button-bg);
    color: getColor(textbox-button-fg);
    padding: 4px 7px;
    text-align: center; 
    text-decoration: none;
    display: inline-block;
}

#menu{
    background-color: getColor(menu-bg);
    position: absolute;
    width: 100%;
    height:100%;
    #menu-container{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        #buttons{
            padding: 10px;
            border-radius: 2%;
            border: 2px getColor(buttons-border) solid;
            width:$menu-width;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
    }
}

.button,.button:active,.button:hover{
    background-color: transparent;
    border: none;
    outline: none;
    color: getColor(buttons-border);
    font-family: "Roboto";
    font-size: 175%;
}
.button{
    margin:3%;
}
.button:hover{
    animation: glow 1s ease-in-out infinite alternate;
}

image{
    user-select: none;  
}

#logo{
    width:$menu-width * 1.5;
}

canvas{
    background-color: black;
}