@import "colors.scss";
@import "glow.scss";
@import "center.scss";

$menu-width: 20%;
$textbox-height: 40%;
$game-over-width: 60%;

body,html {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-y: hidden;
    background-color: getColor(body-bg);
}

#textbox-div {
    position: fixed;
    top: 0; left: 0; bottom: 0; right: 0;
    margin: auto;
    width: 100%;
    top: 100% - $textbox-height;
    height: $textbox-height;
    padding: 1%;
    background: getColor(textbox-bg);
}

.textbox-text {
    color: getColor(textbox-fg);
}

#textbox-hide {
    display: none;
}

.textbox-button,.textbox-button:visited {
    background-color: getColor(textbox-button-bg);
    color: getColor(textbox-button-fg);
    padding: 4px 7px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

#menu{
    background-color: getColor(menu-bg);
    position: absolute;
    width: 100%;
    height:100%;
    #menu-container{
        width: 100%;
        height: 100%;
        @include centered;
        #buttons{
            padding: 10px;
            border-radius: 2%;
            border: 2px getColor(buttons-border) solid;
            width:$menu-width;
            display: flex;
            justify-content: space-around;
            flex-direction: column;
        }
    }
}

.button,.button:active,.button:hover{
    text-align: center;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    color: getColor(buttons-border);
    font-family: "Roboto";
    font-size: 175%;
    margin:3%;
}
.button:hover{
    animation: glow 1s ease-in-out infinite alternate;
}

*{
    user-select: none;  
}

#logo{
    width:$menu-width * 1.5;
}

canvas{
    background-color: black;
}

#game-over{
    #game-over-container{
        @include full;
        @include centered;
        color:white;    
        #game-over-title{
            font-family: "Roboto";
            font-size: 250%;
        } 
        #game-over-buttons-container{
            width: $game-over-width;
            // background-color: #80808080;
            border: 3px solid white;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            border-radius: 5%;
            .button-list{
                padding:10%;
                width:100%;
                @include centered;
                *{
                    display: block;
                    margin:10%;
                }
                #stat-parent{
                    width: 100%;
                    *{
                        width:100%;
                    }
                }
            }
            #game-over-stats div:hover{
                animation: none;
            }
            #game-over-stats div{
                color:red;
            }
        }
    }
    @include full;
}
.red{
    color:red;
}

.scene{
    opacity: 0;
}

#full-screen-button{
    position: fixed;
    bottom: 0px;
    right: 0px;
    color:getColor(full-screen);
    background-color: getColor(full-screen-background);
    z-index: 100000000000000;
    border-top-left-radius: 25%;
}

#night{
    @include full;
    background-color: black;
    z-index: 100;
    opacity: 0;
    display: none;  
}

#intro {
    background: rgb(55,55,55);
    z-index: -10
}

#guy-image {
    z-index: -1000;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 30%;
    height: auto;
}