$colors: (
    menu-bg: #000000,
    buttons-bg: rgba(128,128,128,0.5),
    textbox-bg: lightgray,
    textbox-button-bg: darkred,
    glow-1: blue,
    glow-2: white
);

@function getColor($name){
    @return map-get($colors,$name)
}