$colors: (
    menu-bg: rgb(10, 10, 10),
    buttons-border: rgb(220, 220, 220),
    textbox-bg:rgb(10, 10, 10),
    textbox-fg: rgb(220, 220, 220),
    textbox-button-bg: orange,
    glow-1: orange,
    glow-2: white
);

@function getColor($name){
    @return map-get($colors,$name)
}